@{
    ViewData["Title"] = "Home Page";
}



<section class="hero">
    <div class="hero-inner">
        <h1>Higher Education</h1>
        <h2>Available all year with the best cost!!</h2>
        
    </div>
</section>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Eastern University</h2>
        <p>
            Eastern University is a the firs University to provide online content
            24 hours all year.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get your Degree</h2>
        <p>You can receive your dreamed degreee with us, online!</p>

    </div>
    <div class="col-md-4">
        <h2>New Curriculum</h2>
        <p>Our content is the top in the market, we are preparing the best professionals!</p>

    </div>
</div>

